<!DOCTYPE html>
<html lang="en">
    {%load crispy_forms_tags%}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<title>Signin</title>
	</head>
	<body>
        <div class="container py-5">
            <h1>Login</h1>
            <form method="POST" action="">
              {% csrf_token %}
              <input type="text" name="username" id="id_username" placeholder="username"><br>
              <input type="text" name="email" id="email" placeholder="email"><br>
                <input type="password" name="password" id="id_password" placeholder="password"><br>
              <button class="btn btn-primary" type="submit">Login</button>
            </form>
            {% for message in messages %}
					    {{message}}
				{% endfor %}
            <p class="text-center">Don't have an account? <a href="/signup">Create an account</a>.</p>
          </div>
    </body>
</html>