<!DOCTYPE html>
<html lang="en">
    {% load socialaccount %}
{% providers_media_js %}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Social button login</title>
</head>
<body>
           
    <div class="container py-5">
        <form class="form-group">
            {% csrf_token %}
    <button class="form-control"><a href="{% provider_login_url "google" %}">Google Login</a></button>
    <button class="form-control"><a href="{% provider_login_url 'twitter' %}">Twitter login</a></button>
    <button class="form-control"><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Login</a></button>
        </form>     
    </div>

</body>
</html>