body {
    height: 125vh;
    background-image: url('https://wallpaperaccess.com/full/1347419.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}